<!DOCTYPE html>
<html>
  <head>
    <title>Notefloat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"crossorigin="anonymous">
    <script type="text/javascript">
      window.defaultTrackPhoto = "<%= image_url('default_image.png') %>"
      window.defaultUserPhoto = "<%= image_url('default_image_user.png') %>"
      window.splashPhoto = "<%= image_url('splashy.jpg') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
